# Ignore the virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables
.env

.gitignore

data_collection/output_files/archive/
database/archive/
data_collection/api_calls/archive/